@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: rgb(4, 4, 40);
  margin: 0;
  font-family: 'Century Gothic' !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(rgb(96 165 250 / var(--tw-text-opacity)), rgb(96 165 250 / var(--tw-text-opacity)));
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .5s ease-in-out;
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%;
}
